body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    width: 200vw;
    height: 200vh;
}

#tile-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 200vw;
}

.tile {
    width: 10vw;
    height: 10vw;
    background-color: grey;
    transition: .5s;
}

.menu-container {
    position: absolute;
    background-color: black;
    width: 150px;
    height: 150px;
    top: 10px;
    right: 10px;
    border-radius: 10px;
}

.blur>.tile:hover {
    /* border: 1px solid red; */
    filter: blur(20px);
}

.shadow>.tile {
    filter: drop-shadow(5px 5px 5px rgb(88, 78, 78));
}

.shadows>.tile:hover {
    /* border: 1px solid blue; */
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
}

.glow>.tile::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #ffee10;
    transition: .5s;
    z-index: -1;
}

.glow>.tile:hover::before {
    box-shadow: 0 0 15px 3px#ffee10;
}

.glow>.tile:hover {
    color: #ffee10;
    box-shadow: 0 0 5px 3px #ffee10;
    text-shadow: 0 0 5px #ffee10;
    transform: scale(1.1);
}